#home {
	background: #ffc107;
	color: white;
}

.caixa {
	padding: 60px 0;
	border-bottom: 1px solid #e5e5e5;
}

footer p a {
	margin: 5px 15px;
}
@media (min-width:765px ) and (max-width:864.98px) {
	div.img img {
	  width: 360px;
	}
  }
